<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450817582653-a1q99otn9ee5lbsg7mk9p8isnfn5hu5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450817582653-a1q99otn9ee5lbsg7mk9p8isnfn5hu5t</string>
	<key>API_KEY</key>
	<string>AIzaSyA1cDGrxqsmmTV9AK2hTZjl7VqKaL_WPe0</string>
	<key>GCM_SENDER_ID</key>
	<string>450817582653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SocialLogin</string>
	<key>PROJECT_ID</key>
	<string>applelogin-b3536</string>
	<key>STORAGE_BUCKET</key>
	<string>applelogin-b3536.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450817582653:ios:c075da0dce5e44f3f1ec54</string>
</dict>
</plist>